*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: 600;
}
header{
    margin-bottom: 3%;
}
h1{
    margin-top: 3%;
    text-align: center;
}
.box1{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(231, 139, 86);    
}
.box2{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(86, 161, 231);    
}
.box3{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(163, 231, 86);    
}
@media (min-width:1200px){
    .box1{
        position: absolute;
        width:27%;
        left: 4%;
        margin-right: 2%;
    }
    .box2{
        position: absolute;
        right: 4%;
        width: 27%;
        margin-left: 2%;
    }
    .box3{
        position: absolute;
        width: 27%;
        left: 37%;
    }
}

@media (max-width:1199px) and (min-width:670px) {
    .box1{
        width: 42%;
        margin-left: 5%;
    }
    .box2{
        top: 0;
        right: 5%;
        position: absolute;
        width: 42%;
    }
    .box3{
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width:669px) {
    h1{
        margin: 10%;
        text-align: center;
    }
    .box1{
        margin: 2%;
    }
    .box2{
        margin: 2%;
    }
    .box3{
        margin: 2%;
    }
}
h2{
    float: right;
    margin: 0;
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color:rgb(133, 19, 19);
    color: white;
}
p{
    margin: 5px;
}
div.container{
    position: relative;
    padding: 0;
    margin: 0;
}